<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>&#128512;Travelers&#128512;</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body style="background-color: #98AFC7">
    <section class="header">
        <h1>Travelers</h1>
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="">Log In&#127757;</a></li>
                    <li><a href="">About Us&#127758;</a></li>
                    <li><a href="">Learn More&#127759;</a></li>
                </ul>
            </div>
        </nav>
    </section>
</body>
</html>