*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-size: 30px;
    text-align: center;
    color: white;
}

.header{
    min-height: 200vh;
    width: 100%;
    background-image: url("Earth.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}