<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>&#128512;Travelers&#128512;</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body style="background-color: #98AFC7">
    <section class="header">
        <nav>
             <h1>Travelon</h1>
            <div class="nav-links">
                <ul>
                    <li><a href="/login">Log In&#127757;</a></li>
                    <li><a href="">About Us&#127758;</a></li>
                    <li><a href="">Learn More&#127759;</a></li>
                </ul>
            </div>
        </nav>
        <p>If you love to travel</p>
        <p>Why not share your experience to the world?</p>
        <button class="btn">Join Now</button>
    </section>

    <div id="feature-container"></div>

    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel" src="feature.js"></script>
    <script type="text/babel">
        ReactDOM.render(<feature/>, document.querySelector('.feature-container'))
    </script>
</body>
</html>